---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import HeroReel from "../components/HeroReel.astro";
import DemoNotice from "../components/DemoNotice.astro";
import Marquee from "../components/Marquee.astro";
import StatsBar from "../components/StatsBar.astro";
import ProductHunt from "../components/ProductHunt.astro";
import Concepts from "../components/Concepts.astro";
import WhyPulse from "../components/WhyPulse.astro";
import Features from "../components/Features.astro";
import KeyboardCommand from "../components/KeyboardCommand.astro";
import UseCases from "../components/UseCases.astro";
import Changelog from "../components/Changelog.astro";
import TeamSection from "../components/TeamSection.astro";
import FaqSection from "../components/FaqSection.astro";
import Cta from "../components/Cta.astro";
import Footer from "../components/Footer.astro";
import { useI18n } from "../i18n";

const { t } = useI18n(Astro);
---

<BaseLayout
  title={t.indexPage.title}
  description={t.meta.description}
  path="/"
  isHome={true}
>
  <Nav />
  <main id="main">
    <Hero />
    <DemoNotice />
    <HeroReel />
    <Marquee />
    <StatsBar />
    <ProductHunt />
    <WhyPulse />
    <Concepts />
    <Features />
    <KeyboardCommand />
    <UseCases />
    <Changelog />
    <TeamSection />
    <FaqSection />
    <Cta />
  </main>
  <Footer />
</BaseLayout>
