{
  "openapi": "3.1.0",
  "info": {
    "title": "Pulse HR API",
    "version": "0.6.0",
    "description": "Pulse HR backend (Hono + Bun on Render). This document is auto-generated from the route definitions in `apps/api/src/openapi/*` — do not hand-edit."
  },
  "servers": [
    {
      "url": "https://api.pulsehr.it",
      "description": "production"
    },
    {
      "url": "http://localhost:3000",
      "description": "local dev"
    }
  ],
  "tags": [
    {
      "name": "system",
      "description": "Service health and diagnostics"
    },
    {
      "name": "comments",
      "description": "Inline page comments and replies"
    },
    {
      "name": "proposals",
      "description": "Improvement proposals and ideas"
    },
    {
      "name": "feedback",
      "description": "Unified feedback board"
    },
    {
      "name": "changelog",
      "description": "Public release notes"
    },
    {
      "name": "notifications",
      "description": "User notifications and preferences"
    },
    {
      "name": "screenshots",
      "description": "Comment screenshot uploads"
    },
    {
      "name": "workspace",
      "description": "Workspace-level configuration"
    },
    {
      "name": "admin",
      "description": "Admin-only endpoints"
    },
    {
      "name": "user-profile",
      "description": "User profile and voting power"
    },
    {
      "name": "cron",
      "description": "Scheduled tasks (cron-secret auth)"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Clerk-issued JWT. Pass as `Authorization: Bearer <token>`."
      },
      "CronBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Cron secret. Pass as `Authorization: Bearer ${CRON_SECRET}`."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "True iff database, Clerk, and Neon are all healthy"
          },
          "service": {
            "type": "string",
            "enum": [
              "@pulse-hr/api"
            ]
          },
          "checks": {
            "$ref": "#/components/schemas/HealthChecks"
          },
          "neon": {
            "$ref": "#/components/schemas/NeonCheck"
          },
          "runtime": {
            "type": "string",
            "example": "bun 1.3.11"
          }
        },
        "required": [
          "ok",
          "service",
          "checks",
          "neon",
          "runtime"
        ]
      },
      "HealthChecks": {
        "type": "object",
        "properties": {
          "databaseUrl": {
            "type": "boolean"
          },
          "clerkSecretKey": {
            "type": "boolean"
          },
          "resendKey": {
            "type": "boolean"
          },
          "cronSecret": {
            "type": "boolean"
          },
          "r2Configured": {
            "type": "boolean"
          }
        },
        "required": [
          "databaseUrl",
          "clerkSecretKey",
          "resendKey",
          "cronSecret",
          "r2Configured"
        ]
      },
      "NeonCheck": {
        "type": "object",
        "properties": {
          "reachable": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "reachable"
        ]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "route": {
            "type": "string"
          },
          "anchor": {
            "type": "object",
            "properties": {
              "selector": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 2048
              },
              "xPct": {
                "type": "number"
              },
              "yPct": {
                "type": "number"
              },
              "fallbackX": {
                "type": "number"
              },
              "fallbackY": {
                "type": "number"
              },
              "scrollY": {
                "type": "number"
              }
            },
            "required": [
              "selector",
              "xPct",
              "yPct",
              "fallbackX",
              "fallbackY",
              "scrollY"
            ]
          },
          "pageMeta": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "maxLength": 512
              },
              "viewportW": {
                "type": "integer",
                "minimum": 0
              },
              "viewportH": {
                "type": "integer",
                "minimum": 0
              },
              "userAgent": {
                "type": "string",
                "maxLength": 1024
              },
              "appVersion": {
                "type": "string",
                "maxLength": 64
              }
            },
            "required": [
              "title",
              "viewportW",
              "viewportH",
              "userAgent"
            ]
          },
          "body": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/Author"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "triaged",
              "planned",
              "shipped",
              "wont_do"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "screenshotUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "voteScore": {
            "type": "integer"
          },
          "myVote": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  -1
                ]
              },
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  1
                ]
              }
            ]
          },
          "replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reply"
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "route",
          "anchor",
          "pageMeta",
          "body",
          "author",
          "status",
          "tags",
          "screenshotUrl",
          "voteScore",
          "myVote",
          "replies",
          "createdAt",
          "updatedAt"
        ]
      },
      "Author": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "avatarUrl"
        ]
      },
      "Reply": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "commentId": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/Author"
          },
          "mentions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "commentId",
          "body",
          "author",
          "mentions",
          "createdAt",
          "updatedAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorBody"
          }
        },
        "required": [
          "error"
        ]
      },
      "ErrorBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "not_found"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code"
        ]
      },
      "EditComment": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096
          },
          "anchor": {
            "type": "object",
            "properties": {
              "selector": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 2048
              },
              "xPct": {
                "type": "number"
              },
              "yPct": {
                "type": "number"
              },
              "fallbackX": {
                "type": "number"
              },
              "fallbackY": {
                "type": "number"
              },
              "scrollY": {
                "type": "number"
              }
            },
            "required": [
              "selector",
              "xPct",
              "yPct",
              "fallbackX",
              "fallbackY",
              "scrollY"
            ]
          }
        }
      },
      "VoteResult": {
        "type": "object",
        "properties": {
          "voteScore": {
            "type": "integer"
          },
          "myVote": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  -1
                ]
              },
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  1
                ]
              }
            ]
          }
        },
        "required": [
          "voteScore",
          "myVote"
        ]
      },
      "Proposal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "improvement",
              "idea"
            ]
          },
          "author": {
            "$ref": "#/components/schemas/ProposalAuthor"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "triaged",
              "planned",
              "shipped",
              "wont_do"
            ]
          },
          "voteScore": {
            "type": "integer"
          },
          "myVote": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  -1
                ]
              },
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  1
                ]
              }
            ]
          },
          "replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProposalReply"
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "body",
          "type",
          "author",
          "status",
          "voteScore",
          "myVote",
          "replies",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProposalAuthor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "avatarUrl"
        ]
      },
      "ProposalReply": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "proposalId": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/ProposalAuthor"
          },
          "mentions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "proposalId",
          "body",
          "author",
          "mentions",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProposalVoteResult": {
        "type": "object",
        "properties": {
          "voteScore": {
            "type": "integer"
          },
          "myVote": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  -1
                ]
              },
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  1
                ]
              }
            ]
          }
        },
        "required": [
          "voteScore",
          "myVote"
        ]
      },
      "FeedbackBoard": {
        "type": "object",
        "properties": {
          "open": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardItem"
            }
          },
          "triaged": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardItem"
            }
          },
          "planned": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardItem"
            }
          },
          "shipped": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardItem"
            }
          },
          "wont_do": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoardItem"
            }
          }
        },
        "required": [
          "open",
          "triaged",
          "planned",
          "shipped",
          "wont_do"
        ]
      },
      "BoardItem": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "comment",
              "proposal"
            ]
          },
          "id": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "voteScore": {
            "type": "integer"
          },
          "myVote": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  -1
                ]
              },
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  1
                ]
              }
            ]
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "kind",
          "id",
          "body",
          "voteScore",
          "myVote",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": {}
      },
      "Release": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "example": "0.6.0"
          },
          "date": {
            "type": "string",
            "example": "2026-04-28"
          },
          "title": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tour": {
            "$ref": "#/components/schemas/ChangelogTour"
          }
        },
        "required": [
          "version",
          "date",
          "title",
          "bodyMarkdown",
          "tour"
        ]
      },
      "ChangelogTour": {
        "type": [
          "object",
          "null"
        ],
        "additionalProperties": {}
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": [
              "string",
              "null"
            ]
          },
          "link": {
            "type": [
              "string",
              "null"
            ]
          },
          "meta": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "readAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "userId",
          "kind",
          "title",
          "body",
          "link",
          "meta",
          "readAt",
          "createdAt"
        ]
      },
      "MarkReadRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "maxItems": 200
          },
          "all": {
            "type": "boolean"
          }
        }
      },
      "NotificationPreferences": {
        "type": "object",
        "properties": {
          "releaseEmail": {
            "type": "boolean"
          },
          "mentionEmail": {
            "type": "boolean"
          }
        },
        "required": [
          "releaseEmail",
          "mentionEmail"
        ]
      },
      "NotificationPreferencesUpdate": {
        "type": "object",
        "properties": {
          "releaseEmail": {
            "type": "boolean"
          },
          "mentionEmail": {
            "type": "boolean"
          }
        }
      },
      "ScreenshotUploadResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "url"
        ]
      },
      "SidebarFeaturesResponse": {
        "type": "object",
        "properties": {
          "workspaceKey": {
            "type": "string"
          },
          "features": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "roleFeatures": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "boolean"
              }
            }
          }
        },
        "required": [
          "workspaceKey",
          "features",
          "roleFeatures"
        ]
      },
      "SidebarFeaturesPutResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "workspaceKey": {
            "type": "string"
          },
          "features": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "roleFeatures": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "boolean"
              }
            }
          }
        },
        "required": [
          "ok",
          "workspaceKey",
          "features",
          "roleFeatures"
        ]
      },
      "SidebarFeaturesUpdate": {
        "type": "object",
        "properties": {
          "workspaceKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9._-]+$"
          },
          "features": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "roleFeatures": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "boolean"
              }
            }
          }
        },
        "required": [
          "workspaceKey"
        ]
      },
      "AnnounceReleaseResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "announced": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "members": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "announced"
        ]
      },
      "SendPendingResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          },
          "skipped": {
            "type": "string"
          },
          "sentToday": {
            "type": "integer"
          },
          "attempted": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "sent",
                    "failed"
                  ]
                },
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "status"
              ]
            }
          }
        },
        "required": [
          "ok"
        ]
      },
      "WorkspaceMembersResponse": {
        "type": "object",
        "properties": {
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceMember"
            }
          }
        },
        "required": [
          "members"
        ]
      },
      "WorkspaceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "avatarUrl",
          "role"
        ]
      },
      "AdminSendEmailResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "queued": {
            "type": "integer"
          },
          "skipped": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                }
              },
              "required": [
                "userId",
                "reason"
              ]
            }
          }
        },
        "required": [
          "ok",
          "queued",
          "skipped"
        ]
      },
      "AdminSendEmailRequest": {
        "type": "object",
        "properties": {
          "userIds": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1,
            "maxItems": 200
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8000
          }
        },
        "required": [
          "userIds",
          "subject",
          "body"
        ]
      },
      "UserMeResponse": {
        "type": "object",
        "properties": {
          "profile": {
            "$ref": "#/components/schemas/UserProfile"
          },
          "power": {
            "$ref": "#/components/schemas/VotingPower"
          },
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VotingPowerEvent"
            }
          }
        },
        "required": [
          "profile",
          "power",
          "history"
        ]
      },
      "UserProfile": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "userId": {
            "type": "string"
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "companyWebsite": {
            "type": [
              "string",
              "null"
            ]
          },
          "companySize": {
            "type": [
              "string",
              "null"
            ]
          },
          "companyIndustry": {
            "type": [
              "string",
              "null"
            ]
          },
          "intentions": {
            "type": [
              "string",
              "null"
            ]
          },
          "desires": {
            "type": [
              "string",
              "null"
            ]
          },
          "origin": {
            "type": [
              "string",
              "null"
            ]
          },
          "painPoint": {
            "type": [
              "string",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "fullyAnswered": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "companyName",
          "companyWebsite",
          "companySize",
          "companyIndustry",
          "intentions",
          "desires",
          "origin",
          "painPoint",
          "source",
          "fullyAnswered",
          "updatedAt"
        ]
      },
      "VotingPower": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "power": {
            "type": "integer"
          },
          "baseline": {
            "type": "integer"
          },
          "lastRefillAt": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "power",
          "baseline",
          "lastRefillAt"
        ]
      },
      "VotingPowerEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "delta": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "sourceKey": {
            "type": [
              "string",
              "null"
            ]
          },
          "at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "delta",
          "reason",
          "sourceKey",
          "at"
        ]
      },
      "CompanyProfile": {
        "type": "object",
        "properties": {
          "companyName": {
            "type": "string",
            "minLength": 2,
            "maxLength": 200
          },
          "companyWebsite": {
            "type": "string",
            "format": "uri"
          },
          "companySize": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "companyIndustry": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "intentions": {
            "type": "string",
            "maxLength": 2000
          },
          "desires": {
            "type": "string",
            "maxLength": 2000
          },
          "origin": {
            "type": "string",
            "maxLength": 200
          },
          "painPoint": {
            "type": "string",
            "maxLength": 2000
          },
          "source": {
            "type": "string",
            "maxLength": 200
          }
        },
        "required": [
          "companyName",
          "companyWebsite",
          "companySize",
          "companyIndustry"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Service health check",
        "description": "Public diagnostics endpoint. Returns environment configuration flags and a live Neon connectivity probe. No secrets are leaked — only booleans indicating whether keys are present.",
        "responses": {
          "200": {
            "description": "Health snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments": {
      "get": {
        "tags": [
          "comments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "List comments for a route",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512,
              "pattern": "^\\/"
            },
            "required": true,
            "name": "route",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Comments on the requested route",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "comments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Create a comment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "route": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512,
                    "pattern": "^\\/"
                  },
                  "anchor": {
                    "type": "object",
                    "properties": {
                      "selector": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 2048
                      },
                      "xPct": {
                        "type": "number"
                      },
                      "yPct": {
                        "type": "number"
                      },
                      "fallbackX": {
                        "type": "number"
                      },
                      "fallbackY": {
                        "type": "number"
                      },
                      "scrollY": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "selector",
                      "xPct",
                      "yPct",
                      "fallbackX",
                      "fallbackY",
                      "scrollY"
                    ]
                  },
                  "pageMeta": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "maxLength": 512
                      },
                      "viewportW": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "viewportH": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "userAgent": {
                        "type": "string",
                        "maxLength": 1024
                      },
                      "appVersion": {
                        "type": "string",
                        "maxLength": 64
                      }
                    },
                    "required": [
                      "title",
                      "viewportW",
                      "viewportH",
                      "userAgent"
                    ]
                  },
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[a-z0-9-]{1,24}$"
                    },
                    "maxItems": 10
                  },
                  "screenshotUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 1024,
                    "format": "uri"
                  }
                },
                "required": [
                  "route",
                  "anchor",
                  "pageMeta",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Daily comment cap reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{id}": {
      "patch": {
        "tags": [
          "comments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Edit a comment",
        "description": "Author-only. Body changes append a revision row; anchor changes do not.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i",
              "example": "9d4a0a8c-1c8e-4b2a-9c4f-0a8c1c8e4b2a"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not the author",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Comment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "comments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Soft-delete a comment",
        "description": "Author or admin. Returns 204 with no body.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i",
              "example": "9d4a0a8c-1c8e-4b2a-9c4f-0a8c1c8e4b2a"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "403": {
            "description": "Not the author and not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Comment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{id}/replies": {
      "post": {
        "tags": [
          "comments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Reply to a comment",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i",
              "example": "9d4a0a8c-1c8e-4b2a-9c4f-0a8c1c8e4b2a"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reply"
                }
              }
            }
          },
          "404": {
            "description": "Parent comment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{id}/vote": {
      "post": {
        "tags": [
          "comments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Cast, swap, or retract a vote",
        "description": "Voting power economy: charge 1 on first cast, refund 1 on retract, refund + charge on swap (net 0, two ledger rows). Same value resubmitted is a no-op.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i",
              "example": "9d4a0a8c-1c8e-4b2a-9c4f-0a8c1c8e4b2a"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "anyOf": [
                      {
                        "type": "number",
                        "enum": [
                          -1
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          0
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated vote score",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteResult"
                }
              }
            }
          },
          "404": {
            "description": "Comment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Insufficient voting power",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{id}/status": {
      "patch": {
        "tags": [
          "comments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Move a comment to a new status (admin only)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i",
              "example": "9d4a0a8c-1c8e-4b2a-9c4f-0a8c1c8e4b2a"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "open",
                      "triaged",
                      "planned",
                      "shipped",
                      "wont_do"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "403": {
            "description": "Not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Comment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/proposals": {
      "post": {
        "tags": [
          "proposals"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Create a proposal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 140
                  },
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "improvement",
                      "idea"
                    ]
                  }
                },
                "required": [
                  "title",
                  "body",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Proposal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "422": {
            "description": "Daily proposal cap reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{id}": {
      "patch": {
        "tags": [
          "proposals"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Edit a proposal (author only)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 140
                  },
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated proposal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not the author",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Proposal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "proposals"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Soft-delete a proposal",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "403": {
            "description": "Not the author and not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Proposal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{id}/replies": {
      "post": {
        "tags": [
          "proposals"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Reply to a proposal",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProposalReply"
                }
              }
            }
          },
          "404": {
            "description": "Parent proposal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{id}/vote": {
      "post": {
        "tags": [
          "proposals"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Cast, swap, or retract a vote on a proposal",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "anyOf": [
                      {
                        "type": "number",
                        "enum": [
                          -1
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          0
                        ]
                      },
                      {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated vote score",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProposalVoteResult"
                }
              }
            }
          },
          "404": {
            "description": "Proposal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Insufficient voting power",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/proposals/{id}/status": {
      "patch": {
        "tags": [
          "proposals"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Move a proposal to a new status (admin only)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "open",
                      "triaged",
                      "planned",
                      "shipped",
                      "wont_do"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated proposal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "403": {
            "description": "Not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Proposal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/feedback/board": {
      "get": {
        "tags": [
          "feedback"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Combined comments + proposals grouped by status",
        "responses": {
          "200": {
            "description": "Board buckets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackBoard"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/changelog": {
      "get": {
        "tags": [
          "changelog"
        ],
        "summary": "List all releases (newest first)",
        "responses": {
          "200": {
            "description": "All releases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "releases": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Release"
                      }
                    }
                  },
                  "required": [
                    "releases"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/changelog/latest": {
      "get": {
        "tags": [
          "changelog"
        ],
        "summary": "Get the most recent release",
        "responses": {
          "200": {
            "description": "Latest release or null",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "release": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Release"
                        },
                        {
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "release"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "notifications"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "List the current user's notifications",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "required": false,
            "name": "unreadOnly",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notifications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Notification"
                      }
                    }
                  },
                  "required": [
                    "notifications"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/mark-read": {
      "post": {
        "tags": [
          "notifications"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Mark notifications as read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkReadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marked as read",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/notifications/preferences": {
      "get": {
        "tags": [
          "notifications"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Get notification preferences",
        "responses": {
          "200": {
            "description": "Preferences (defaults applied if none stored)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferences"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "notifications"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Upsert notification preferences",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPreferencesUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "releaseEmail": {
                      "type": "boolean"
                    },
                    "mentionEmail": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok",
                    "releaseEmail",
                    "mentionEmail"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/screenshots": {
      "post": {
        "tags": [
          "screenshots"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Upload a screenshot for a comment",
        "description": "Raw binary upload — set `Content-Type` to `image/jpeg`, `image/png`, or `image/webp`. Max 3 MB. Stored in R2 under `comments/<userId>/<uuid>.<ext>` and returns a public URL.",
        "requestBody": {
          "required": true,
          "content": {
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large (>3 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "R2 storage not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspace/sidebar-features": {
      "get": {
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Get sidebar feature flags for a workspace",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[a-zA-Z0-9._-]+$"
            },
            "required": true,
            "name": "workspaceKey",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Effective feature flags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SidebarFeaturesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "workspace"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Update sidebar feature flags (admin only)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SidebarFeaturesUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated feature flags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SidebarFeaturesPutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Provide features and/or roleFeatures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cron/announce-release": {
      "get": {
        "tags": [
          "cron"
        ],
        "security": [
          {
            "CronBearer": []
          }
        ],
        "summary": "Diff CHANGELOG.md against released_versions; fan out per version",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnounceReleaseResult"
                }
              }
            }
          },
          "401": {
            "description": "Cron secret missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "CRON_SECRET not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "cron"
        ],
        "security": [
          {
            "CronBearer": []
          }
        ],
        "summary": "Diff CHANGELOG.md against released_versions; fan out per version",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnounceReleaseResult"
                }
              }
            }
          },
          "401": {
            "description": "Cron secret missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "CRON_SECRET not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cron/send-pending": {
      "get": {
        "tags": [
          "cron"
        ],
        "security": [
          {
            "CronBearer": []
          }
        ],
        "summary": "Drain the email outbox via Resend (cap-respecting)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendPendingResult"
                }
              }
            }
          },
          "401": {
            "description": "Cron secret missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "CRON_SECRET not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "cron"
        ],
        "security": [
          {
            "CronBearer": []
          }
        ],
        "summary": "Drain the email outbox via Resend (cap-respecting)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendPendingResult"
                }
              }
            }
          },
          "401": {
            "description": "Cron secret missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "CRON_SECRET not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/members": {
      "get": {
        "tags": [
          "admin"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "List all workspace members (admin only)",
        "responses": {
          "200": {
            "description": "Workspace members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceMembersResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/send-email": {
      "post": {
        "tags": [
          "admin"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Queue an email to selected workspace members",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminSendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queue summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminSendEmailResult"
                }
              }
            }
          },
          "403": {
            "description": "Not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user-profile/me": {
      "get": {
        "tags": [
          "user-profile"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Get the current user's profile + voting power + history",
        "responses": {
          "200": {
            "description": "Current-user snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user-profile/company-profile": {
      "post": {
        "tags": [
          "user-profile"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Submit or update the company profile questionnaire",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated profile + power",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user-profile/skip": {
      "post": {
        "tags": [
          "user-profile"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Skip the questionnaire",
        "responses": {
          "200": {
            "description": "Skipped",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
